<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>524782268330-3di09qp165g23uf5n1dlgv2ss06r58k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524782268330-3di09qp165g23uf5n1dlgv2ss06r58k1</string>
	<key>API_KEY</key>
	<string>AIzaSyA1wkGv0zUbDOVxsqnoUiE_iAogTie52og</string>
	<key>GCM_SENDER_ID</key>
	<string>524782268330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gatech.CS2340-iOS</string>
	<key>PROJECT_ID</key>
	<string>cs2340-cb649</string>
	<key>STORAGE_BUCKET</key>
	<string>cs2340-cb649.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:524782268330:ios:0dcd85b75a8f3541</string>
	<key>DATABASE_URL</key>
	<string>https://cs2340-cb649.firebaseio.com</string>
</dict>
</plist>